@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


body {
    margin: 0;
}

#current-page {
    color: greenyellow;
}

nav {
    position: absolute;
    width: 100%;
}

nav ul {
    float: left;
    margin-top: 8px;
}

nav a {
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    color: white;
    font-family: "Lato", monospace;
    display: inline-block;
    margin: 10px 1.3em 0 0;
}

nav ul li:hover {
    color: #acff05;
    opacity: 1;
}

.main-text {
    color: white;
    font-family: "Oxygen", monospace;
    font-weight: 400;
}

#indent {
    margin-left: 2em;
}

p {
    font-size: small;
}


@media only screen and (min-width: 768px) {
    nav ul li {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }
}