@import "_globals.css";

#banner {
    height: 100vh;
    width: 100%;
    background: rgb(255,0,164);
    background: linear-gradient(149deg, rgba(255,0,164,1) 0%, rgba(188,0,255,1) 73%);
    display: flex;
    flex-direction: column;
}

#banner-text {
    margin: auto;
    max-width: 1920px;
}

#name {
    font-weight: 550;
    margin: 0;
}

#occupation {
    font-weight: 400;
    margin: 4px 0 8px 0;
}

.logo {
    height: 3vh;
    width: auto;
    margin: 0.4em 1em 0 0;
}

.banner-text {
    color: white;
    font-family: "Montserrat", monospace;
}

@media only screen and (min-width: 768px) {
    #name {
        font-size: xxx-large;
    }

    #occupation {
        font-size: x-large;
    }
}

/*
==============================
============ Blog ============
==============================
*/

#blog {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#blog h1 {
    text-align: center;
    font-family: "Oxygen", monospace;
    margin: auto auto 0 auto;
}

#blog p {
    text-align: center;
    font-family: "Oxygen", monospace;
    margin: 1em auto auto auto;
}